body {
  background: #fafafa !important;
}
.container {

}
.navPanel {
  background: #3c7bbf !important;
  border-radius: 0px !important;
}

.navHeader {
  font-size: 1.5em;
  color: #fff !important;
  font-weight: 600 !important;
}

.flexBody {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.wideButton{
  width: 80%;
  background: #252525 !important;
  color: #fff !important;
  border-radius: none !important;
  margin: 0px !important;
}

.paragraphColor{
  color: #252525 !important;
}
