/*#status{
  font-size: 0.3em;
}*/
body {
  margin: 0em;
}

p {
  margin-bottom: 0em;
}
.container {
  width: 100%;
}
.navPanel {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4283c4;
}

.navHeader {
  color: #fff;
  font-size: 1.5em;
}

.bodyDiv {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introTagLine {
  font-size: 1.15em;
}
.introFeatureTitle {
  margin-top: 0.7em;
  margin-bottom: 0.4em;
}

.introFeatureDescription {
  margin-top: 0em;
  font-size: 1.1em;
}

.introButton {
  margin-top: 1.5em;
  text-align: center;
  width: 30%;
  padding: 0.6em;
  border: 1px solid black;
}
